[2014-01-30 12:22] anjackson opened #1 "Fill out Getting Started documentation"
I've sketched out an outline of how to get started with this, here: https://github.com/ukwa/shine/wiki/Getting-Started

If you could try to follow those instructions, and then please fill out the details? You might want to familiarise yourself with the overall idea first: https://github.com/ukwa/shine/wiki

[2014-01-30 12:39] anjackson opened #2 "Update UKWA Bootstrap submodule"
The Shine application contains a one-off installation of Bootstrap in shine/public. Could you clean it up to use the UKWA Bootstrap as a submodule instead?

[2014-02-06 09:28] #2 closed, assigned to kinmanli

[2014-05-14 08:29] anjackson opened #3 "Switch to facet.date for ngram faceting"
Currently we are using the crawl_year for building the time axis. However, this is rather restrictive, and Solr also supports [more dynamic range faceting on dates](http://wiki.apache.org/solr/SimpleFacetParameters#Date_Faceting_Parameters).

Therefore, when faceting on the crawl_date, can we switch to this syntax:

http://192.168.1.151:8984/solr/jisc/select?q=*:*&facet=true&facet.date=crawl_date&

[2014-05-14 09:00] #1 closed, assigned to kinmanli

[2014-07-07 15:41] peterwebster opened #4 "User accounts: stage 1"
Users need to be able to ask the WAT to create user accounts for them, via email.

[2014-07-07 15:43] peterwebster opened #5 "Implementation of user account creation in UI"

[2014-07-07 15:57] peterwebster opened #6 "Addition/removal of multiple facet filters from searches in Advanced Search"
Logging this here, as some of these are implemented and some not, so far.

Facets:
- host,
- public_suffix,
- content_type_norm,
- crawl_year,
- content_language,
  -links_public_suffix,
- links_host,
- author,
- postcode_district

[2014-07-07 16:13] peterwebster opened #7 "Query summary"
Users need to be able to see a summary of all the search terms, exclusions, facets etc that form the boundary of their query.

At the moment, all this information is available in the view, but not in one place.

Should apply to both Search and Advanced Search, but may need to be in different places in each.

[2014-07-07 16:14] peterwebster opened #8 "Diagram of user workflows"
Write up diagrams from user workshop, and supply others.

[2014-07-07 16:37] peterwebster opened #9 "Excluding single resources or whole hosts from queries"
Users need to be able to exclude single resources, or whole hosts from result sets, by means of a check box or similar.

This would be useful in the query builder view, as another field. [that is, defining the exclusion before you start]

However, the major use case is to exclude resources from alongside the query result.

That is, for each search result, a checkbox 'Exclude This' and another 'Exc

[2014-07-07 16:43] peterwebster opened #10 "Export of list of results"
For any query, users need to be able to export as CSV the list of results, one line per result.

Exact composition to be define, but I imagine two options:  Full and Brief

Full = all metadata associated with a resource, including facet values [which may not be straightforward if there are multiple values.]

Brief = title, crawl date, URL

[2014-07-07 16:45] peterwebster opened #11 "Concordance view in results"
Add a 'Concordance' view, showing a list of text fragments from the first X matches from each matching resource, with the phrase aligned down the centre.

[2014-07-07 16:47] peterwebster opened #12 "Saving query"
Users need to be able to save a query - that is, save the query string with all search terms, facets, exclusions etc, to be able to return to it later - a basic bookmarking function.

NB The corpus creation functionality associated with Stage 2 will be more demanding than this, as discussed in call on 7 July.

[2014-07-10 08:53] #3 closed, assigned to kinmanli

[2014-07-14 12:24] peterwebster opened #13 "Corpus creation (from a query)"
Users require to 'save' a set of documents (generated by a query), attached to a user account, for later reuse as a 'corpus'.

In the short term, this can be achieved by the saving query function  (  #12 ) as the index won't change.

However, the user here is interested in the list of resources, not the query itself. So: eventually this implies adding a corpus facet to Solr, and labelling each new

[2014-07-14 12:33] peterwebster opened #14 "Corpus creation (from a list of hosts)"
[Related to #13 ]

Users need to be ableto use a  list of hosts to define the boundaries of a 'corpus' for later reuse. Unlike in #13 , this needs to include the hostname and all resources on those hosts.

The list of hosts is put together in one of two ways:

(i) by compilation [user views lists of search results and elects to add a host include in those results to the corpus

(ii) user brings li

[2014-07-14 12:44] peterwebster opened #15 "Descriptive metadata for a corpus"
To be able to record basic descriptive data about the corpus.

Fields yet to be really explored with the user group, but suggest:
- name [required, uncontrolled]
- description [optional, uncontrolled]
- tags  [optional, uncontrolled, multiple values, comma separated]
- justification [of criteria used in creating it: optional, uncontrolled]

These (for now) remain private to the logged-in user.  In

[2014-07-14 13:01] peterwebster opened #16 "Faceted search of resources defined as a corpus"
Users will need to be able to conduct faceted searches  limited to the resources defined as constituting a corpus (derived from #13 and #14 )

In the UI this may want to be presented separately from the main search view, but fundamentally it is the existing search functionality but with a corpus facet applied to it persistently.

[2014-07-14 14:02] peterwebster opened #17 "Hide the 'Browse Collections' tab"
@anjackson  For the time being, should we comment this out ? There isn't any Collections facet within the Solr, nor any particular prospect of there being one.

[2014-07-14 14:26] peterwebster opened #18 "Ordering of fields in Advanced Search"
Suggest that the fields in this be ordered differently, and grouped, perhaps using some sort of box outline.

Together with the heading:

'Search For'
- Search Terms
- Proximity
- None of these

'Within Resources':
- Date Range
- URL, Host,.......
- File Format
- Website Title
- Page Title
- Author

I'll try to mock this arrangment up on paper, scan and send.

[2014-07-14 14:28] peterwebster opened #19 "Relationship between fields in Advanced Search"
I'm not quite clear on one thing:  what is the current relationship between the URL, the Host/Domain/PublicSuffix, and the URL/Host.... field ?

[2014-07-18 18:40] anjackson opened #20 "Set up Travis CI config file"
Shine should have Travis CI enabled, with the results shown [here](https://travis-ci.org/ukwa/shine), but the build needs configuring. It should be possible to just copy the [w3act .travis.yml](https://github.com/ukwa/w3act/blob/master/.travis.yml) file and tweak it.

[2014-07-23 10:05] #4 closed, assigned to anjackson

[2014-07-23 10:23] #20 closed, assigned to anjackson

[2014-07-23 10:28] anjackson opened #21 "Set up to deploy as a sub-directory rather than in the ROOT context"
Shine currently deploys in the root context, i.e. as 'http://server/'. Can you modify it so it is deployed as a sub-directory, i.e. as 'http://server/shine/'.

[2014-07-23 10:47] peterwebster opened #22 "Execution exception for proximity search"
This search:

http://192.168.45.220/search/advanced?query=%22rowan+williams%22&proximity=Trinity&proximity=2&sort=content_type_norm&order=asc

returns

Execution exception[[IndexOutOfBoundsException: Index: 2, Size: 2]]

[2014-07-28 14:10] #19 closed, assigned to kinmanli

[2014-07-28 14:21] #6 closed, assigned to peterwebster

[2014-07-31 12:25] anjackson opened #23 "Add page to run test queries at the level of individual cores"
Could we add a special 'tester page' that checks which Solr nodes are responsive to queries? i.e. pull down the cluster state:

http://192.168.1.181:8983/solr/zookeeper?wt=json&detail=true&path=%2Fclusterstate.json

And parse out the replicas for each shard, then loop over them, firing a non-distributed query like this at each core:

http://192.168.1.181:8983/solr/jisc5/select?q=*%3A*&distrib=fals

[2014-07-31 13:30] #23 closed, assigned to GilHoggarth

[2014-08-01 10:18] anjackson opened #24 "UI tweaks to cope with slow response"
Some ideas to make Shine easier to use when the response time is slow.
1. Can we have some kind of page-level busy indicator, so the user knows the query is on the way?
2. Can we include the query time in the response somewhere?

Sound okay to you, @peterwebster?

[2014-08-07 15:33] anjackson opened #25 "Proposed UI Tweaks"
Some ideas for tweaking the UI.
- Faceted Search
  - Should facet on 'crawl_years' rather than 'crawl_year'.
  - Do not present facet values as hyperlinks, because clicking on them does nothing.
  - OR I would prefer if the facet values were presented with only the (+) button by default, and that clicking the value or the button would add the value to the selected set of facet values. A separate i

[2014-08-28 08:43] peterwebster opened #26 "Unresponsive search in Advanced search"
While testing in IE, the Search button in the Advanced search is not responding.

Simple search is OK, so the service is clearly running.

[2014-08-28 08:48] #17 closed, assigned to peterwebster

[2014-08-28 10:59] peterwebster opened #27 "Snippet/fragment view in search results"
As first discussed at #11 , we need a snippet view with each search result, which guides user to the context in which their search term occurs within a resource.

Some flexibility as to how many examples there should be, depending on the use of screen space. let's try with three to begin with.

[2014-09-05 12:59] #22 closed, assigned to peterwebster

[2014-09-05 13:03] peterwebster opened #28 "Independence of 'Search Terms' and proximity (Advanced Search)"
At the minute, the user can't perform a proximity search without _also_ having some input in the Search Terms box.

A user could just want 'term X' and 'term Y' within Z words, and should be allowed to use this independently.

Relates to #22

[2014-09-05 13:37] peterwebster opened #29 "Save Search button unresponsive"
Using the same DA machine and IE9, I can open the Save Search dialog, and enter Name and Description, but the Save doesn't respond.

From this point:  http://192.168.45.220/shine/search?page=1&facet.fields=crawl_year&invert=&facet.in.crawl_year=%222010%22&facet.fields=last_modified_year&invert=&facet.fields=public_suffix&invert=&facet.in.public_suffix=%22co.uk%22&action=search&query=%22john+smith%

[2014-09-05 14:54] anjackson opened #30 "Add 'fast' and 'slow' modes"
First, we can add this parameter to all Solr queries and it will only query two shards on each server:

[code]

Once we've done this, we could add a UI toggle to switch this parameter on/off, thus allowing users to perform long-running queries on the whole data set.

@peterwebster This look okay?

[2014-09-10 09:00] #28 closed, assigned to peterwebster

[2014-09-10 09:18] peterwebster opened #31 "Trends in UI"
From @anjackson
- The graph should use normalised results, i.e. rather than only showing the absolute values, I’d like it to do an additional query for : and then cache the total-documents-per-year. The result would them show the hits per year as a percentage of the total. This cached result can also be used to pre-populate the default overall year range for the query.
- There should be an option

[2014-09-10 09:25] #24 closed, assigned to kinmanli

[2014-09-10 09:26] #21 closed, assigned to GilHoggarth

[2014-09-10 09:53] anjackson opened #32 "Default and optional facets"
Due to the performance issues we're seeing, can I suggest the following change to the default and optional facets.

The facets that are enabled by default are 'crawl_year' 'last_modified_year' 'public_suffix' 'domain', but last modified is not that useful, so I suggest we make that an optional facet. Lets try replacing it with 'General Content Type' which is currently optional.

For the optional f

[2014-09-15 09:43] #29 closed, assigned to peterwebster

[2014-09-17 08:14] peterwebster opened #33 "Advanced Search - Host/domain/public suffix facet not working"
The facet doesn't seem to be being applied to the Search, although the summary thinks it is:

See results in:

http://www.webarchive.org.uk/shine/search/advanced?query=wikipedia&hostDomainPublicSuffix=bbc.co.uk&sort=content_type_norm&order=asc

[2014-09-17 08:25] peterwebster opened #34 "Advanced Search - Exception Error using Crawl Date filter"
Following feedback from user group, I tested the date search, and got an Exception Error from this:

http://www.webarchive.org.uk/shine/search/advanced?query=heritage&tab=concordance&dateStart=1999-01-01&dateEnd=2006-01-01&sort=content_type_norm&order=asc

[2014-09-17 09:55] peterwebster opened #35 "Facets display in Advanced Search results display"
As discussed, we should allow users to see the facets display alongside results produced by an Advanced Search.

If possible, it should _not_ be visible before a search is performed and results returned. ie.

not at :  http://www.webarchive.org.uk/shine/search/advanced

but visible at; http://www.webarchive.org.uk/shine/search/advanced?query=wikipedia&exclude=student&sort=content_type_norm&order=a

[2014-09-17 10:09] peterwebster opened #36 "Allow users to specify number of search results displayed"
Users should be able to specify how many results to see per page. Set options ("10, 20, 50") probably preferable to allowing users to specify a number.

Suggest this goes alongside the "1 2 3 4 5" page navigation

[2014-09-17 10:14] peterwebster opened #37 "Toggle between "brief" and "full" result"
Peter to specify in greater detail.

In UI, could either be:

(i) a toggle at the top of the page, which applies to all results on the page; or

(ii) an option to see the Full detail for a single result

[2014-09-17 10:52] peterwebster opened #38 "Citation information"
As discussed, there's a cluster of questions about (i) how individual search results should be cited (how to identify which portion of the Solr is a citable unit); and then (flowing from that) how to show that citation format to the user, either in the UI, or as a frame around the IA Wayback.

This need thought in relation to citation across all our services, and so may be beyond the scope of the

[2014-09-17 10:59] peterwebster opened #39 "Behaviour of 'Show More' button in facet list"
Peter to specify how many more values should be shown when the 'Show More' button is used, as the optimal number is different for each facet.

[2014-09-17 11:02] peterwebster opened #40 "Need a visual change (as well as a colour) when a facet is selected"
For accessibility reasons, there needs to be some visual change - a different symbol, larger font, change of positioning - when a facet is selected.

[2014-09-17 11:03] peterwebster opened #41 "Conflict between ngram point caption and axis position"
PW to replicate and specify

[2014-09-17 11:04] peterwebster opened #42 "CSV output of values plotted in Ngram"
PW to specify

[2014-09-17 11:07] peterwebster opened #43 ""Show me a random sample of these results""
Perhaps using native Solr functionality, users might request a random sample of a result set.

Users marginally preferred a percentage (I think), but I think a integer value would be acceptable.

[2014-09-29 10:26] #12 closed, assigned to peterwebster

[2014-09-29 11:05] peterwebster opened #44 "Removal of "phantom" pre-1996 resources"
The fact that there is the long tail of eccentrically-dated results wasn't obvious in AADDA, but is made very obvious in the Shine ngram. We should consider excluding pre-1996 resources from Solr perhaps ?

[2014-09-29 16:30] peterwebster opened #45 "More user accounts to create"
Hi @kinmanli : could you add these addresses ?

rowanaust@gmail.com.
jane.winters@sas.ac.uk
jonathan.blaney@sas.ac.uk
ralph.schroeder@oii.ox.ac.uk
josh.cowls@oii.ox.ac.uk
nb@dac.au.dk

[2014-10-02 12:43] #33 closed, assigned to peterwebster

[2014-10-07 09:37] peterwebster opened #46 "Login issues"
Two of the group have reported difficulties logging in, which I have replicated. They are Gareth Millward and Saskia Huc-Hepher.  Could @kinmanli check it out ?

[2014-10-07 09:43] #45 closed, assigned to peterwebster

[2014-10-07 15:17] peterwebster opened #47 "Exception error using domain filter"
![error](https://cloud.githubusercontent.com/assets/5520710/4544642/fc373b3c-4e34-11e4-9169-2ca75f4c81e9.jpg)

[2014-10-10 14:20] #47 closed, assigned to kinmanli

[2014-10-10 14:21] #46 closed, assigned to kinmanli

[2014-10-10 14:28] #9 closed, assigned to kinmanli

[2014-11-17 16:19] anjackson opened #48 "UI Confusion over 'Sample' versus 'Full' modes"
After demonstrating the UI to a larger group of users, it became clear that everyone was confused by the 'full' versus 'sample' mode behaviour. Currently:
- Full is the default.
- The Full/Sample switch shows the mode to switch _to_, not the current mode.
- When in 'Sample' mode, the URL contains 'mode=full'

Could we switch to using some sort of toggle, perhaps a drop-down menu, that shows the cu

[2014-11-17 16:20] anjackson opened #49 "Trend graphs broken at present"
Going here: http://www.webarchive.org.uk/shine/graph

gives me this: Execution exception[[NullPointerException: null]]

[2014-11-20 14:33] peterwebster opened #50 "Paging in the list of the results not working"
There seems to be an issue with paging between each screen of results.

A search for this is successful:

http://www.webarchive.org.uk/shine/search/advanced?proximityPhrase1=rowan&proximityPhrase2=williams&proximity=25&tab=results&action=search&dateStart=1996-01-01&dateEnd=2010-01-01&sort=content_type_norm&order=asc

but if I click on the number 2 in the 1-2-3-etc bar at the foot of the list, I ge

[2014-11-20 15:01] peterwebster opened #51 "URL filter not being applied"
If I understand it correctly, the URL filter should return _only_ results from the single resource found at the URL. If that's right, then this query should return only results from bbc.co.uk  (which may in this case total zero)

http://www.webarchive.org.uk/shine/search/advanced?query=%22Top+of+the+pops%22&action=search&dateStart=2006-01-01&dateEnd=2006-12-31&url=bbc.co.uk&sort=content_type_norm&

[2014-11-20 15:18] peterwebster opened #52 "Website Title filter"
Hi @anjackson : could you confirm how the Website Title facet field is derived ? That everything contained within the host news.bbc.co.uk probably has Website Title = BBC News ?

If so, I think it is not being applied at the minute: see

http://www.webarchive.org.uk/shine/search/advanced?query=%22rowan+williams%22&action=search&websiteTitle=BBC+News&sort=content_type_norm&order=asc

I thought that

[2014-11-20 15:46] peterwebster opened #53 "Public SHINE interface down"
Looks like I may have brought SHINE down:

Execution exception[[RemoteSolrException: Server at http://192.168.1.181:8983/solr/jisc5 returned non ok status:500, message:Server Error]]

@kinmanli

[2014-11-21 10:03] #53 closed, assigned to GilHoggarth

[2014-12-03 17:34] anjackson opened #54 "Incomplete quotes cause exception"
This:

http://www.webarchive.org.uk/shine/search?page=1&facet.fields=content_type_norm&invert=&facet.fields=crawl_year&invert=&facet.fields=last_modified_year&invert=&facet.fields=public_suffix&invert=&facet.fields=domain&invert=&facet.fields=links_domains&invert=&action=search&query=%22doctor&sort=crawl_date&order=asc

Gives this:

[code]

[2014-12-04 08:13] anjackson opened #55 "Add 'Exclude Domain' to the Actions"
To deal with subdomain-based link farms, we really need the ability to 'Exclude Domain' alongside 'Exclude' and 'Exclude Host' in the UI.

[2014-12-04 08:16] anjackson opened #56 "Suggested UI tweak for facet selection"
I think the facet selections would be clearer if blue means 'active' and use use grey for 'inactive. So, in 'include mode':
- They start all blue (as they are now) because all are available.
- When one it clicked, it _stays_ blue, and the others go grey.
- Further clicked items go blue.

Exclude mode is the same, except when no items are selected, they are ALL grey, because nothing is being exclud

[2014-12-08 16:18] peterwebster opened #57 "SHINE UI down"
I seem to have knocked SHINE over just now  (about 16:15 on Monday 8th).

It was in response to my asking for the CSV export of a list of results.

[2014-12-08 16:23] #57 closed, assigned to kinmanli

[2015-01-06 10:01] peterwebster commented on #10
Thanks @kinmanli : I successfully downloaded both Brief and Full for a result set of 35 results, in a few seconds in each case:
http://www.webarchive.org.uk/shine/search/advanced?query=%22biblical+creation+society%22&action=search&hostDomainPublicSuffix=grace.org.uk&sort=content_type_norm&order=asc

but a result set of 1165 results took more than three minutes (before I stopped it):

http://www.we

[2015-01-06 10:03] peterwebster commented on #10
Also [small point]:  once the download is complete, the view ought to refresh to remove the 'Exporting to CSV..' message, and show (in the same position) the message 'Download complete.'  @kinmanli

[2015-01-06 10:06] peterwebster commented on #10
[at 10:05, I got this - after about 8 minutes]

Proxy Error

The proxy server received an invalid response from an upstream server.
The proxy server could not handle the request GET /shine/search/export.

Reason: Error reading from remote server

Apache/2.2.3 (Red Hat) Server at www.webarchive.org.uk Port 80

[2015-01-06 10:07] peterwebster commented on #10
.... and on inspection, the two CSV files I did get out were empty. @kinmanli

[2015-01-06 11:21] peterwebster commented on #48
Relates to #30

[2015-01-12 13:28] peterwebster commented on #10
Hi @kinmanli :  I've just tested this again, and the CSV option responds as I would expect visually, Chrome shows me the file that is downloaded, but the file has no data in it, when I open it up.

[2015-01-12 13:37] kinmanli commented on #10
@peterwebster What were the parameters in the URL?

[2015-01-12 13:38] peterwebster commented on #10
http://www.webarchive.org.uk/shine/search/advanced?query=%22biblical+creation+society%22&action=search&hostDomainPublicSuffix=ac.uk&sort=content_type_norm&order=asc

[2015-01-12 14:51] kinmanli commented on #10
@peterwebster this only happening in "advanced search"?

[2015-01-12 15:01] peterwebster commented on #10
@kinmanli it seems so - just got Brief and Full successfully from the simple search

[2015-01-12 15:26] kinmanli commented on #10
@peterwebster it seems to be anything that has a facet (except "General Content Type")

[2015-01-13 11:54] kinmanli commented on #10
@peterwebster fixed

[2015-01-14 15:42] peterwebster commented on #10
@kinmanli Just tested this, and it seems to be OK. I did make an unsuccessful attempt before that, where the browser sat waiting for a response. Think this may be while Solr was waking up ?

[2015-01-14 15:43] peterwebster commented on #10
[copied from earlier in the ticket, two small outstanding enhancements, now lower priority]

[not a high priority] As discussed today, two enhancements to the CSV output:

(i) output should include the field names as column headings;

(ii) output should also include some basic information about the search that generated the output:

'Results from the British Library's Shine interface, (webarchive.

[2015-01-15 12:04] peterwebster opened #58 "Execution exception on download of "Full" CSV results"
http://www.webarchive.org.uk/shine/search/export?proximityPhrase1=rowan+williams&proximityPhrase2=sharia&proximity=20&action=search&dateStart=2008-01-01&dateEnd=2008-12-31&sort=content_type_norm&order=asc&exportType=csv&version=full

produces

Execution exception[[NoSuchElementException: None.get]]

[2015-01-15 12:08] peterwebster opened #59 "Error in paging between results"
The first page of this works OK:

http://www.webarchive.org.uk/shine/search/advanced?proximityPhrase1=rowan+williams&proximityPhrase2=sharia&proximity=20&action=search&dateStart=2008-01-01&dateEnd=2008-12-31&sort=content_type_norm&order=asc

but if I try to navigate to later pages, it looks like the search parameters are not being passed correctly - it's asking for proximity=the original search te

[2015-01-19 15:59] kinmanli commented on #59
fixed

[2015-01-29 10:55] anjackson opened #60 "Multi-page corpus selection not working"
A bug report from a user (internal ticket 1501-0960).

Note that this is rather urgent.

/cc @peterwebster

[2015-01-30 12:25] peterwebster commented on #26
@anjackson so, here's the bug you found in the middle of your IIPC presentation on Solr

[2015-01-30 12:28] peterwebster commented on #26
@anjackson I have had the same issue on machines at STP in meetings

[2015-01-30 12:29] anjackson commented on #26
Yes, doesn't work on some IE versions/configurations? Maybe additional request or resources are being blocked? The modal 'busy' indicator does not even come up.

[2015-02-02 15:45] peterwebster commented on #60
Possibly related to #59

[2015-02-02 15:46] peterwebster commented on #60
It would be good to prioritise this @kinmanli

[2015-02-03 13:32] kinmanli commented on #60
@peterwebster @anjackson

Fixed issue by applying inverts to the responseparameter set in the backend. Also, fixing the frontend js issues with the facet links when filtering different options.

Fixed issue with showing "include facets" as excludes in "search summary". Added, modal loader when paginating

[2015-02-03 15:53] peterwebster commented on #60
@kinmanli does /shine need redeploying ?

[2015-02-04 13:13] anjackson commented on #26
This reminds me of an earlier issue, that I thought I had worked around. The service is classes as being on the intranet, which we have configured to force IE7 mode.  This produces logging info in IE9 like this:

    HTML1202: http://www.webarchive.org.uk/shine/search?query=captcha&tab=results&action=search is running in Compatibility View because 'Display intranet sites in Compatibility View' is

[2015-02-09 14:16] peterwebster commented on #60
@kinmanli I'm still getting the issue.

See Exclude Hosts applied to page 1 of results here:
http://www.webarchive.org.uk/shine/search?page=1&invert=&facet.fields=public_suffix&invert=&invert=&invert=&invert=&action=search&query=%22rowan+williams%22+sharia&tab=results&sort=content_type_norm&order=asc&excludeHost=blog.newhumanist.org.uk&excludeHost=blog.newhumanist.org.uk&excludeHost=secularism.org

[2015-02-09 14:22] kinmanli commented on #60
@peterwebster Where is the "exclude hosts" option?

[2015-02-09 14:27] peterwebster commented on #60
It's in the Actions dropdown...

On Mon, Feb 9, 2015 at 2:22 PM, kinmanli <notifications@github.com> wrote:

--
*Dr Peter Webster*
*peterwebster6@gmail.com <peterwebster6@gmail.com>*
Twitter: *@pj_webster*
*http://peterwebster.me  <http://peterwebster.me>*
*http://websterresearchconsulting.com/ *
<http://websterresearchconsulting.com/>

[2015-02-10 14:06] anjackson commented on #27
"content_text" contains the actual text and should be used for highlighting, while "text" is the index of the text and should be used for searching.

[2015-02-10 16:43] peterwebster commented on #51
Hi @kinmanli : could you possible take a look at this? Some of the bursary holders have been mentioning it again.

[2015-02-10 16:45] peterwebster commented on #60
Hi @kinmanli

When trying to exclude hosts from a set of search results (   http://www.webarchive.org.uk/shine/search/advanced?page=1&facet.fields=public_suffix&addFacet=&action=search&proximityPhrase1=rowan+williams&proximityPhrase2=sharia&proximity=20&url=bbc.co.uk&sort=content_type_norm&order=asc&excludeHost=timesonline.co.uk&excludeHost=secularism.org.uk )

I get:

Execution exception[[RemoteS

[2015-02-10 16:57] peterwebster commented on #60
@GilHoggarth could you redeploy Shine, if it hasn't been since yesterday ?

[2015-02-10 17:00] peterwebster opened #61 "Countdown in total results figure on paging through results"
A strange bug this one. Each time the user pages to the next 10 results, the total number showing falls by 10.

http://www.webarchive.org.uk/shine/search?query=%22rowan+williams%22&page=4&sort=content_type_norm&facet.fields=public_suffix&order=asc&tab=results&action=search&mode=
shows
'Results 31 to 40 of 204,578'

http://www.webarchive.org.uk/shine/search?query=%22rowan+williams%22&page=5&sort=co

[2015-02-10 17:02] GilHoggarth commented on #60
Probably... (got it wrong last time.) Trying now.

[2015-02-10 17:07] GilHoggarth commented on #60
Think that's done now, redeployed I mean.

[2015-02-10 17:12] peterwebster commented on #60
Thanks @GilHoggarth

@kinmanli after Gil's redeployment just now, I had a further go.

http://www.webarchive.org.uk/shine/search?query=%22rowan+williams%22&page=2&sort=content_type_normnull&facet.fields=public_suffix&excludeHost=conrad.blackwellpublishers.co.uk&excludeHost=info.cf.ac.uk&excludeHost=www.archinet.co.uk&sort=content_type_norm&order=asc&tab=results&action=search&mode=full

I implement

[2015-02-10 18:39] kinmanli commented on #60
@peterwebster yes I'm looking at that one now as solr was down earlier and couldn't re-test it.

[2015-02-11 09:59] kinmanli commented on #60
@peterwebster

Fixed issues with exclude hosts. Just issue with ID for "excludes" to fix

[2015-02-12 10:34] kinmanli commented on #60
fixed the issue with excluding results by encoding parameter

[2015-02-12 10:42] peterwebster commented on #60
@kinmanli yes, do please redeploy

[2015-02-12 10:54] kinmanli commented on #60
@peterwebster redeployed

[2015-02-12 11:12] kinmanli commented on #61
I am currently using:

[code]

Will look at another way

[2015-02-12 11:52] peterwebster commented on #60
@kinmanli this now works just fine when the user starts with the simple search.

If however, I run a proximity search from within the Advanced search, and then try to exclude hosts, I get a Solr exception.

That is:  this search works OK:

http://www.webarchive.org.uk/shine/search/advanced?proximityPhrase1=rowan+williams&proximityPhrase2=sharia&proximity=25&action=search&sort=content_type_norm&ord

[2015-02-12 14:32] kinmanli commented on #60
@peterwebster fixed and redeployed

![2015-02-12 14-33-26_advanced search](https://cloud.githubusercontent.com/assets/1652105/6169243/012ab56c-b2c4-11e4-9870-8ca134323ebb.png)

[2015-02-12 18:06] anjackson commented on #61
I'm surprised by that behaviour. Ah well, of course, you know the offset, so you can just add it back on.

[2015-02-16 13:03] GilHoggarth opened #62 "Handling of 'last page' Solr requests"
"Primarily for Primo searches that might request the 'last page' on LDUKWA Solr, ensure this is handled. We've done this for ourselves by placing the limit in the Drupal service, but Primo doesn't use Drupal."

This request comes from http://tickets.wa.bl.uk/trac/ticket/2321 (a BL internal ticket service).

[2015-02-23 16:05] anjackson opened #63 "Quick URL/title search needed"
The main shine UI is very researcher focussed. We can expect that the first level of search might need to be simpler, in that it focusses on a few main use cases.

* Search for exactly this URL (or very close to it) e.g. for homepage searches.
* Search for this text in the title.
* ...TBA...

I imagine we may be able to achieve this be having a specific search endpoint and Solr config  that uses b

[2015-03-11 13:46] kinmanli commented on #10
![2015-03-11 13-39-41_microsoft excel - export 134](https://cloud.githubusercontent.com/assets/1652105/6597381/1f86ef68-c7f4-11e4-8165-54c309f42539.png)

![2015-03-11 13-46-14_microsoft excel - export 136](https://cloud.githubusercontent.com/assets/1652105/6597503/08dccad4-c7f5-11e4-9ff7-d4e12a5a5815.png)

[2015-03-12 11:33] kinmanli commented on #27
@peterwebster fixed

[2015-03-12 12:39] kinmanli commented on #34
Chrome - when selecting a date it does not stick it in the field

[2015-03-13 12:35] kinmanli commented on #13
Current data for resources saved to a corpus.

![2015-03-13 12-34-07_corpus creation from a query issue 13 ukwa_shine](https://cloud.githubusercontent.com/assets/1652105/6638383/4ddb6486-c97d-11e4-9b9c-c50e81f84c44.png)

[2015-03-16 19:07] tokee commented on #10
Internally in Solr, direct paging to large page numbers is discouraged as the search time grows fast (there's an internal priority queue of size page*pagesize). A quick look in Shine.java indicates that this is done when doing a CSV-export.

For export, the "old" way is to use cursorMark (https://cwiki.apache.org/confluence/display/solr/Pagination+of+Results) and the new way is to use streaming ex

[2015-03-17 13:35] kinmanli commented on #14
Is the current work flow okay or @peterwebster needs to define a workflow to create a corpus and add to it

[2015-03-19 13:39] peterwebster commented on #63
@anjackson I agree that the current SHINE GUI is very research-oriented, and also that any more "simple" search needs its own GUI presentation - the two won't really mix. Not sure whether I'm going to have any involvement, but some direct user workshopping would be needed, particularly to understand how they would understand/welcome the prioritisation of the curated content.

[2015-03-19 14:12] peterwebster commented on #60
OK, closing this ticket now, and about to open a new one to make one outstanding issue clearer.

[2015-03-19 14:12] #60 closed

[2015-03-19 14:13] peterwebster opened #64 "Exclude option for individual resources not being applied"
If you look at this, you'll see that I've tried to exclude the second result three times, but it continues to appear in the list of results:

http://www.webarchive.org.uk/shine/search/advanced?page=1&facet.fields=public_suffix&addFacet=&action=search&proximityPhrase1=rowan+williams&proximityPhrase2=sharia&proximity=25&sort=content_type_norm&order=asc&exclude=%0D%0A%09sha1%3AJMA7767FRAKUUVRNZ2XDRB5

[2015-03-19 14:21] peterwebster commented on #42
OK @anjackson , the download already implemented for this looks good to me, so closing this ticket. If users subsequently articulate some enhancement to it, then we can open a new ticket.

[2015-03-19 14:21] #42 closed

[2015-03-19 14:46] peterwebster commented on #35
Hi @kinmanli , this looks good. One small tweak: when I perform an advanced search, the search boxes and the facet options are all folded away (the Filters option closes.)
It might be better if the filters were aligned with the top of the results set (rather than with the search boxes). That way, the filters can be taken from view, leaving user with results, and the facets to apply to them.

[2015-03-19 14:51] peterwebster commented on #49
This seems fine, so closing the ticket.

[2015-03-19 14:51] #49 closed

[2015-03-19 14:52] peterwebster commented on #48
This I think needs prioritising, so adding it to the new Stage 0.1 milestone.

[2015-03-19 14:57] peterwebster commented on #44
The trends graph now shows only 1996, and I can't find any search results earlier than that. So, @anjackson , I suppose we close this, unless you want to roll it back to include 1995 at this stage, in this version ?

[2015-03-19 15:00] peterwebster commented on #41
@anjackson 's subsquent revamp of this graph has fixed this. Closing ticket now.

[2015-03-19 15:00] #41 closed

[2015-03-19 16:04] peterwebster commented on #10
The results shown in the screenshots look good, but when I tried to test just now,, it fails:

http://www.webarchive.org.uk/shine/search/export?proximityPhrase1=rowan+williams&proximityPhrase2=sharia&proximity=25&action=search&dateStart=2008-02-01&dateEnd=2008-12-31&sort=content_type_norm&order=asc&exportType=csv&version=full
@kinmanli

[2015-03-19 16:11] peterwebster commented on #11
Hi @kinmanli thanks for removing the date.

At the minute, I'm seeing nothing other than the date and the domain:

http://www.webarchive.org.uk/shine/search?query=%22tired+of+london+is+tired+of+life%22&page=1&tab=concordance&action=search&mode=&facet.in.crawl_years=%222008%22

[2015-03-19 16:16] peterwebster commented on #27
Hi @kinmanli in the results view, I'm not seeing any of the snippets any more:

http://www.webarchive.org.uk/shine/search?query=%22tired+of+london+is+tired+of+life%22&page=2&facet.in.crawl_years=%222008%22&tab=results&action=search&mode=

[2015-03-19 16:23] peterwebster commented on #32
@anjackson what's your current feeling about 'hosts' and 'links_hosts' in relation to performance? If they are still likely to cause problems, then we should probably close this ticket but open another on the 'Later' milestone so it isn't lost entirely.

[2015-03-19 16:34] peterwebster commented on #18
@anjackson having reviewed this, I think that my first instinct was correct. That is, users will expect that their searches include results (and exclusions exclude) from the page body and the page title, but not the URL.

[2015-03-19 16:36] peterwebster commented on #18
@anjackson I also like the idea of having a 'Search for All or Part of a URL' field, but we'd have to think a little about how it relates to the current URL filter (on which there is a ticket #51 )

[2015-03-20 14:07] peterwebster commented on #10
After discussion, agreed that we should go with Toke's conservative option @kinmanli

[2015-03-20 14:10] peterwebster commented on #11
@kinmanli there may be some reusable code associated with snippets in the trends viewer.

[2015-03-20 14:20] peterwebster commented on #51
SHould this really be "any URL containing a string"

[2015-03-20 14:25] peterwebster commented on #52
I'll have another look at these test cases.

@kinmanli to confirm what is happening

[2015-03-24 16:04] peterwebster commented on #52
OK: this search is (I think) for 'BBC' and 'News' from anywhere in the page title:

http://www.webarchive.org.uk/shine/search/advanced?query=%22rowan+williams%22&sort=content_type_norm&sort=content_type_norm&order=asc&websiteTitle=BBC%20News&tab=results&action=search&mode=

but I don't understand the 8th result:  'Cynical Chatter from the Underworld: BBC'

[2015-03-24 16:08] peterwebster commented on #52
After looking at the exact phrase, it does seem clear that this is looking at the page title. So, we ought to think about renaming the field to 'Page Title' (not a perfect fit, but less misleading to than Website Title.) What does @anjackson think ?

[2015-03-24 16:18] peterwebster commented on #51
So @anjackson , I'm thinking that the use case "Find me only results from this exact URL that I already know and can paste in from elsewhere" is a fairly marginal one.

More likely is "I'm guessing at a fragment of a URL; find me results from resources where that string occurs in the URL" - which would meet the need of the first use case.

However, there is a third use case:  "find me only results

[2015-03-24 16:19] peterwebster commented on #51
In the short term, though, it isn't being applied any way at all: see http://www.webarchive.org.uk/shine/search/advanced?page=1&facet.fields=public_suffix&addFacet=&action=search&query=%22rowan+williams%22&url=bbc.co.uk&websiteTitle=%22BBC+News%22&sort=content_type_norm&order=asc

[2015-03-24 16:26] peterwebster commented on #10
Hi @kinmanli : the 'Results from the ..' and 'Search Summary...' lines seem to have dropped out of these CSV outputs (?)

[2015-03-24 16:38] peterwebster commented on #7
This hasn't been raised again by users in subsequent stages, and I cannot now replicate it, so closing the ticket.

[2015-03-24 16:38] #7 closed

[2015-03-25 13:24] peterwebster commented on #15
Hi @kinmanli : are these exposed in the GUI at the minute?

[2015-03-25 13:27] peterwebster commented on #13
HI @kinmanli : I think those fields for each resource are good for now. Users may over time want more, so leave that option open if possible.

[2015-03-25 13:33] peterwebster commented on #13
@kinmanli could you remind me how the GUI currently allows users to create a corpus?  That is, to get from:

http://www.webarchive.org.uk/shine/search?page=1&invert=&facet.fields=public_suffix&invert=&invert=&invert=&invert=&invert=&invert=&action=search&query=%22goji+berry%22&tab=results&sort=content_type_norm&order=asc&excludeHost=www.clickok.co.uk&excludeHost=ukcommerceonline.co.uk&excludeHost=

[2015-03-25 13:35] peterwebster commented on #14
See the question I just added to #13 @kinmanli

[2015-03-25 13:36] kinmanli commented on #13
@peterwebster you need to select a few checkboxes and choose 'add to list'. This was just an idea I came up with but need a concrete workflow to work from.

[2015-03-25 13:51] kinmanli commented on #15
@peterwebster no they are not. It's just on the model/database table for future use.

[2015-03-25 14:23] peterwebster opened #65 "Display of corpora as facets in search view"
I think I realised why the current (logged-in) view doesn't quite look right. I think that there should be a facet called 'My Corpora', (just like Crawl Year, Domain), with values 'apple stuff', 'terry' etc, rather than each individual corpus being a different facet.

I don't know whether this reflects some confusion in the data model underlying it, or whether this is just an issue in the GUI.  cc

[2015-03-25 14:24] peterwebster commented on #65
URL for the view above  http://www.webarchive.org.uk/shine/search?page=1&invert=&facet.fields=public_suffix&invert=&invert=&invert=&invert=&invert=&invert=&action=search&query=%22david+cameron%22&tab=results&sort=content_type_norm&order=asc

[2015-03-25 14:28] peterwebster opened #66 "Display of corpora as facets in search view"
Selecting an option in the Add Facet area (bottom left) throws a Solr error:

Execution exception[[RemoteSolrException: Server at http://192.168.1.181:8988/solr/jisc5 returned non ok status:500, message:Server Error]]

![image](https://cloud.githubusercontent.com/assets/5520710/6826699/39feb1de-d2fb-11e4-885b-d345a3b1e4d5.png)

[2015-03-25 14:31] peterwebster commented on #39
General Content Type: Show More = Show All
Public Suffix: Show More = Show All
Crawl Years: Show More = Show the top 10

For Domain, the Show More has disappeared - but I think we probably need it, where Show More = Show top 20

[2015-03-25 14:35] peterwebster commented on #39
Will specify for the optional facets once #66 is resolved

[2015-03-27 13:12] peterwebster commented on #15
OK @kinmanli : I'll assign this to me in order to think about how to expose them in the GUI

[2015-03-27 13:39] peterwebster commented on #13
@kinmanli so, this is how I see the main workflow.

- User fires a query
- In several iterations, they change the search criteria, add and remove facet filters, and run it again.
- Once they've done this, they exclude resources or hosts
- They reach a decision point: "this list of search results now represents what I was looking for - I've refined my query, and excluded the noise - this is now my

[2015-03-27 13:46] peterwebster opened #67 "Bring all the long-range requirements to Github"

[2015-03-27 14:08] anjackson commented on #52
Agreed, rename to Page Title or Resource Title.

[2015-03-27 14:13] peterwebster commented on #51
@kinmanli could you comment out the field for now, and we'll come back to this later.

[2015-03-30 11:02] kinmanli commented on #48
Fixed and checked in
![2015-03-30 12-02-28_search](https://cloud.githubusercontent.com/assets/1652105/6895145/aadb6e10-d6d4-11e4-9752-f49a995c35f5.png)

[2015-03-30 13:25] kinmanli commented on #51
@peterwebster commented out url field in Advanced Search

[2015-03-30 14:14] kinmanli commented on #10
@peterwebster advanced search details was missing. Now working.

![2015-03-30 15-14-02_microsoft excel - export 4](https://cloud.githubusercontent.com/assets/1652105/6898038/6e219d12-d6ef-11e4-9e0e-b33fc71b9321.png)

[2015-03-31 08:52] kinmanli commented on #64
Currently passes this ID to SOLR:

[code]

[2015-03-31 10:07] kinmanli commented on #64
@peterwebster fixed and checked in. Tested on:

[code]

[2015-03-31 11:00] kinmanli commented on #11
@peterwebster if there is nothing to highlight it will not show.

[code]

![2015-03-31 11-58-35_search](https://cloud.githubusercontent.com/assets/1652105/6917531/4783f818-d79d-11e4-8a32-e9e90d16718a.png)

[2015-03-31 12:21] kinmanli commented on #11
@peterwebster added a bit more to the snippets

![2015-03-31 13-20-26_advanced search](https://cloud.githubusercontent.com/assets/1652105/6918712/bb1cbf2a-d7a8-11e4-90ec-77f2282d9065.png)

[2015-05-13 10:29] peterwebster commented on #26
@anjackson do we know whether this is still a live issue ? I can't test it as SHINE seems to be down right now; but if it is, there won't be much hands-on interaction at the grad student event on Friday.

[2015-05-13 10:31] peterwebster commented on #26
Also pinging @GilHoggarth re SHINE being down

[2015-05-13 10:32] GilHoggarth commented on #26
Seen ping - investigating!

[2015-05-13 11:17] GilHoggarth commented on #26
Checking /shine, eventually saw issue reported as 'proxy error'?!
Restarted shine2 successfully (a very easy, quick action) but didn't resolve /shine service being down. Examined jisc1 and jisc2 servers to find jisc1:solrnode6 using 20% of RAM whereas other using less than 5%. No other indicators seen, no recent memory issues reported in Solr logs. Consequently stopped and started jisc1:solrnode6

[2015-05-13 13:52] GilHoggarth commented on #26
Restarting jisc1:solrnode6 has resolved this outage - /shine is now working again for me.

[2015-05-13 15:06] peterwebster commented on #26
Thanks @GilHoggarth ! Hope all is well with you...

[2015-05-14 10:11] GilHoggarth commented on #26
Complete restart of all solr nodes and the shine2 service performed successfully last night. It takes several hours, I think about 3, all reported fine. Checking both the Solr service directly and via the /shine URL, all working.
Unless another issue appears or requested otherwise, I'll leave this service now so that it remains stable.

[2015-05-19 14:58] peterwebster opened #68 "Problem when removing a facet value"
Once on Friday 15th and again just now, I've managed to lock SHINE up by performing an advanced search, then filtering for a crawl year, and then adding a second crawl year (so far so good). The problem then comes when I try to remove one of the two crawl year facet values.

Might this be related to the memory leak previously discussed?  cc @GilHoggarth

[2015-05-19 15:58] GilHoggarth commented on #68
Well, currently the two jisc/buddah/shine Solr servers are returning Solr queries, at least "*:*" gives "numFound": 2023396101 (as it should). But webarchive.org.uk/shine not return nuttin. So I'll restart that service.

But before that, what's the memory situation? Well we're not being overly generous with all of 1GB of RAM. So I'll raise this to 4GB. Checking the possible java leak, 'lsof' doesn

[2015-05-19 16:06] GilHoggarth commented on #68
webarchive.org.uk/shine working again - now with added RAM.

[2015-07-29 16:11] ianmilligan1 opened #72 "Faceted Trend Searching"
We have been tinkering around with our own Shine instance ([available here)](http://webarchives.ca/) and a commonly requested user feature has been faceted trend searching. This is an artefact of having a smaller collection vs. a national websphere.

For example, could trend searching allow a user to search *austerity* within two top-level domains, i.e. `https://www.conservatives.com/` and `http:/

[2015-07-29 21:01] tokee commented on #72
Underneath the hood, this would be a standard trend search for `austerity domain:conservatives.com` and `austerity domain:labour.org.uk`, right?

[2015-07-30 09:35] anjackson commented on #72
Yes, this is already possible if you know the Secret Squirrel Syntax:

http://www.webarchive.org.uk/shine/graph?query=austerity+domain%3Aconservatives.com%2C+austerity+domain%3Alabour.org.uk&year_start=1996&year_end=2010&action=update

So it's a question of building a decent UI for it. My original idea was to use the facet-search interface to build queries, save them, and them combine them in the

[2015-07-30 12:58] ianmilligan1 commented on #72
Thanks, @anjackson! The easiest kind of issue: one where the functionality already exists...!

Just playing around with this and can use any of the other facets too, eh? I will document this on our Shine installation.

And hopefully you can get more conservatives.com content into your database - or convince them to switch over to .uk. ;)

[2015-07-30 12:58] #72 closed

[2016-05-30 22:15] anjackson opened #74 "Generate export suitable for Voyant"
As discussed under https://twitter.com/ianmilligan1/status/737367313389785088

Look into a suitable export to pass results over to Voyant.

[2016-05-31 09:38] ldbiz opened #75 "Welcome page has incorrect Search Page link"
www.webarchive.org.uk/shine

_Search Page_ hyperlink directs to localhost...

[2016-05-31 09:41] ldbiz commented on #75
Misunderstanding on our part in an earlier report of this bug, I think:

https://twitter.com/UKWebArchive/status/702853965306793984

[2016-05-31 16:06] ldbiz opened #76 "Trailing slashes not handled in typed URL"
e.g.

https://www.webarchive.org.uk/shine >> ok
vs
https://www.webarchive.org.uk/shine**/**  >> "Action not found"

[2016-05-31 20:03] sgsinclair commented on #74
There's an input format for this now defined, instead of defining the individual metadata XPath expressions, we should now be able to use inputFormat=walk

example: http://voyant-tools.org/?input=http://rho.library.yorku.ca:8080/solr/select%3Fq%3Djack%26start%3D0%26rows%3D20%26fl%3Durl,crawl_date,content,title,crawl_year,domain%26wt%3Dxml%26indent%3Dtrue&inputFormat=walk

[2016-05-31 22:05] sgsinclair commented on #74
actually, we've been playing with sending a url, which requires a round-trip, but it's also possible to post multi-part form content as part of the call (it could even be a GET link that would redirect with a post payload).

[2016-06-14 10:40] jasonmarkwebber opened #77 "Domain exclusion not working"
example query:

https://www.webarchive.org.uk/shine/search?page=1&facet.fields=crawl_year&facet.fields=public_suffix&invert=domain&addFacet=&action=search&query=frog&tab=results&totalCount=totalCount&order=asc&mode=&facet.in.domain=%22mobilebeat.co.uk%22&facet.out.domain=%22mobilebeat.co.uk%22

[2016-06-14 10:48] anjackson commented on #77
Thanks @jasonmarkwebber - it seems to be adding the same facet value as both an inclusion and an exclusion at the same time, which leads to no results at all being shown.

[2016-07-18 15:03] peterwebster opened #78 "Crawl date filter not working in Advanced Search"
Hi @anjackson , hope all is well.

If I'm reading it correctly, this search should not return anything after 2002, but it does

https://www.webarchive.org.uk/shine/search/advanced?proximityPhrase1=Theresa+May&proximityPhrase2=nasty+party&proximity=20&action=search&dateStart=2002-10-01&dateEnd=2002-12-31&hostDomainPublicSuffix=ac.uk&order=asc

From the results, it looks as if the proximity search a

[2018-02-06 12:02] ldbiz opened #82 "Advanced Search Help wording correction"
Proximity Search help:
https://www.webarchive.org.uk/shine/search/advanced

Current:

Typo in the first sentence and the second sentence indicates a following example which isn't there. Something like this would make more sense:

Also the choice of shadow example words seems pretty random in that they appear in some search fields but not others. So if Jack Russell etc. are to appear, then so shoul

[2018-02-06 12:50] min2ha commented on #82
Everybody can edit those messages BTW, because it is in simple **_messages.properties_** file and translations of it. It is for the future, because developer's skills are not needed.

[2018-03-06 10:31] ldbiz opened #83 "Exact phrase match - match not always displayed in initial results"
When a user searches on an exact phrase using quotes, e.g. "sick as a parrot", "not that sort of player", etc. the preview doesn't necessarily show them.

We believe the results are correct, but the preview is not displaying a subset of text containing the phrase.

Fix should be to show the phrase, a workaround is an explanatory message. Obviously if the results are incorrect, the issue is that!

[2018-03-06 10:33] ldbiz commented on #83
Example query:

https://www.webarchive.org.uk/shine/graph?query=%E2%80%9Cit+could+be+a+cricket+score%E2%80%9D%2C+%E2%80%9Cnot+that+sort+of+player%E2%80%9D%2C+%E2%80%9Ca+goal+good+enough+to+win+any+game%E2%80%9D%2C+%E2%80%9Che%E2%80%99s+got+two+good+feet%E2%80%9D%2C+%E2%80%9CHe%E2%80%99s+a+great+tactician%E2%80%9D&year_start=1996&year_end=2013&action=update

[2018-03-06 10:45] anjackson commented on #83
Note the query parameters look like this:

    “not+that+sort+of+player”

i.e. they are using 'smart' quotes! If you use normal quotes it works as expected.

    "not+that+sort+of+player"

https://www.webarchive.org.uk/shine/graph?query=%22it+could+be+a+cricket+score%22%2C+%22not+that+sort+of+player%22%2C+%22a+goal+good+enough+to+win+any+game%22%2C+%22he%E2%80%99s+got+two+good+feet%22%2C+%22He%E2%

[2018-03-06 10:46] anjackson commented on #83
So, we need to be aware that some clients will submit smart quotes and we need to normalise them to plain quotes for the query.

[2018-03-06 13:53] tokee commented on #83
We have been bitten by that one before. In a similar context we translate `«‹»›„‚“‟‘‛”’❛❜❟❝❞❮❯\u2E42〝〞〟` to plain quotes.

[2018-10-04 13:59] ldbiz opened #84 "Various links are absolute and need changing to relative as they are hardcoded for UKWA"
Example in #75

See also the search tips, clicking on them takes you to UKWA Shine, regardless of where the app is running.

The problem being that if this application is deployed by other people (or our main URL changes) they will want to be redirected to their own instance of the application, not ours.

[2018-10-11 11:36] anjackson opened #85 "Prototype JAM Stack Browser"
Long term, it may make sense to do all the UI presentation in the browser, in JavaScript, and just talk to a suitably restricted proxy around the Solr API. There's an rough sketch in `shine-react` based on an existing set of React.JS components for Solr. It would need:

* To use GET not POST so we can keep a tight reign on the Solr service.
* Provide Shine-like features, looking somewhere between

[2019-02-07 14:08] ldbiz opened #86 "Shine Facet Exclusion Fails"
Possibly related to or even a dupe of #77

Reported by Gareth Millward of Warwick Univ (g.millward@warwick.ac.uk).

"The problem is that when I choose a facet to exclude and then click the "minus" icon, all the results disappear.
Looking at the URL being produced, it seems there's something wrong with how it's generating the exclude facets. I searched for "sick note" (in quotes) and then went to e